html { 
  background: url(/Resume-Website/Images/nature.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica Neue', sans-serif;
}

.hometop {
    width: 1450px;
    height: 100px;
    background-color: rgb(68, 64, 64);
    padding: 10px;
    color: white;
    margin-left: auto
    margin-top: 100px;
    text-align: right;
}

.list li {
    display: inline;
    float: right;
    margin: 2px;
    color: White;
}

.prof-box {
    width: 400px;
    height: 450px;
    background-color: rgba(0, 0, 0, .5);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.intro {
    width: 400px;
    height: 100px;
    background-color: rgba(0, 0, 0, .5);
    padding: 30px;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    text-align: left;
}

.prof-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

h1 {
  font-weight: 100;
  letter-spacing: 2;
  font-size: 40px;
}

p {
    font-weight: 200;
    letter-spacing: 1;
}

.icons {
    font-size: 40px;
}

.icons a {
    color: white;
}

.line-break {
    width: 325px;
    margin: 0 auto;
    border-top: 1px solid white;
}

address a { 
    color: white;
    font-style: italic;
} 

.intro button {
    color: rgb(0,0,0,0);
}